<section class="highlights">
    
 <section class="card project-block">
        <h2>Portable Pedal-Powered Generator</h2>

        <p class="project-meta">
        MEGN 301 Final Design Project · Fall 2025
        </p>

        <p class="project-summary">
        Designed and manufactured a portable mechanical generator capable of producing
        usable DC power for phone charging and lighting. The system integrates a custom
        transmission, back-driven stepper motor, power electronics, and user interface.
        Emphasis was placed on affordability, manufacturability, ergonomics, and real-world
        performance validation.
        </p>

        <div class="project-actions">
            <button class="chip" data-modal="report-301">
            Project Report
            </button>
        </div>

        <h3>Demonstration Videos</h3>

        <div class="video-grid">
            <div class="video">
                <iframe src="https://www.youtube.com/embed/qma7bmkuIS4" allowfullscreen ></iframe>
            </div>
            <div class="video">
                <iframe src="https://www.youtube.com/embed/PBQq28FPERw" allowfullscreen ></iframe>
            </div>
            <div class="video">
                <iframe src="https://youtube.com/embed/_2sfNBx9Utc" allowfullscreen ></iframe>
            </div>
            <div class="video">
                <iframe src="https://youtube.com/embed/2jFSHjcbOvc" allowfullscreen ></iframe>
            </div>
            <div class="video">
                <iframe src="https://youtube.com/embed/qel1BGY7h90" allowfullscreen ></iframe>
            </div>
            <div class="video">
                <iframe src="https://youtube.com/embed/adxFEvcAgwA" allowfullscreen ></iframe>
            </div>
            <div class="video">
                <iframe src="https://youtube.com/embed/5x-4pCY4UcM" allowfullscreen ></iframe>
            </div>
            <div class="video">
                <iframe src="https://youtube.com/embed/URFL3B2bzzE" allowfullscreen ></iframe>
            </div>
        </div>

    </section>
</section>
